*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
 font-family: "vazir" !important;
}
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  border: none;
  outline: none;
}